{% extends 'student/studentDashboard.html.twig' %}

{% block content %}
<div class="container-fluid pt-4 px-4">

    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="h-100 bg-light rounded p-4">
                <h4 class="mb-4">My Account Information</h4>
                <div class="mb-3">
                    <strong>Name:</strong> {{ user.firstName }} {{ user.lastName }}
                </div>
                <div class="mb-3">
                    <strong>Email:</strong> {{ user.email }}
                </div>
                <div class="mb-3">
                    <strong>Phone:</strong> {{ user.phoneNumber }}
                </div>
                <div class="mb-3">
                    <strong>Birth Date:</strong> {{ user.birthDate | date('Y-m-d H:i:s') }}
                </div>
                <div class="mb-3">
                    <strong>CIN:</strong> {{ user.cin }}
                </div>

                <!-- Button to modify information -->
                <div class="text-lg-end">
                    <a href="{{ path('app_student_editProfile', {'id': user.id}) }}" class="btn btn-primary">Modifier mes informations</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}