{% extends 'back.html.twig' %}

{% block title %}Entreprise index{% endblock %}

{% block body %}
    <h1>Entreprise index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Num_tel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.id }}</td>
                <td>{{ entreprise.nom }}</td>
                <td>{{ entreprise.adresse }}</td>
                <td>{{ entreprise.numTel }}</td>
                <td>
                    <a href="{{ path('app_entrprise_show', {'id': entreprise.id}) }}"  class="btn btn-primary btn-sm">show</a>
                    <a href="{{ path('app_entrprise_edit', {'id': entreprise.id}) }}" class="btn btn-danger btn-sm delete-button">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="text-center">
    <a href="{{ path('app_entrprise_new') }}" class="btn btn-primary">Create new</a>
</div>
</div>
</div>
{% endblock %}
