{% extends 'back.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}
    <h1>Projet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idprojet</th>
                <td>{{ projet.idprojet }}</td>
            </tr>
            <tr>
                <th>Nomprojet</th>
                <td>{{ projet.nomprojet }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ projet.description }}</td>
            </tr>
            <tr>
                <th>Nomentreprise</th>
                <td>{{ projet.nomentreprise }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ projet.email }}</td>
            </tr>
             <tr>
                <th>NumTel</th>
                <td>{{ projet.numtel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_projet_index') }}">back to list</a>

    <a href="{{ path('app_projet_edit', {'idprojet': projet.idprojet | number_format}) }}">edit</a>


    {{ include('projet/_delete_form.html.twig') }}
{% endblock %}
