{% extends 'default.html.twig' %}

{% block title %}Ecole index{% endblock %}

{% block body %}
    <h1>Ecole index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Nb_professeur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ecole in ecoles %}
            <tr>
                <td>{{ ecole.id }}</td>
                <td>{{ ecole.nom }}</td>
                <td>{{ ecole.adresse }}</td>
                <td>{{ ecole.nbProfesseur }}</td>
                <td>
                    <a href="{{ path('app_ecole_show', {'id': ecole.id}) }}" class="btn btn-primary btn-sm">show</a>
                    <a href="{{ path('app_ecole_edit', {'id': ecole.id}) }}" class="btn btn-danger btn-sm delete-button">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="text-center">
                <a href="{{ path('app_ecole_new') }}" class="btn btn-primary">Create new</a>
            </div>
        </div>
    </div>
{% endblock %}
