{% extends 'back.html.twig' %}
{% block title %}Ecole{% endblock %}
{% block body %}
    <h1>Ecole</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ecole.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ ecole.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ ecole.adresse }}</td>
            </tr>
            <tr>
                <th>Nb_professeur</th>
                <td>{{ ecole.nbProfesseur }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ecole_index') }}">back to list</a>

    <a href="{{ path('app_ecole_edit', {'id': ecole.id}) }}">edit</a>

    {{ include('ecole/_delete_form.html.twig') }}
{% endblock %}
