{% extends 'back.html.twig' %}

{% block title %}Professeur index{% endblock %}

{% block body %}
    <h1>Professeur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Num_tel</th>
                <th>Adresse</th>
                <th>Ecole</th>
                <th>actions</th>

            </tr>
        </thead>
        <tbody>
            <form method="GET" action="{{ path('app_professeur_index') }}">
                <select id="filterOption" name="sortBy">
                    <option value="nom" {% if app.request.query.get('sortBy') == 'nom' %}selected{% endif %}>Nom</option>
                    <option value="id" {% if app.request.query.get('sortBy') == 'id' %}selected{% endif %}>ID</option>
                    <option value="ecole" {% if app.request.query.get('sortBy') == 'ecole.' %}selected{% endif %}>École</option>
                    <option value="prenom" {% if app.request.query.get('sortBy') == 'prenom.' %}selected{% endif %}>Prenom</option>

                </select>
            </form>
            <script>
                // Lorsque l'option est modifiée, soumettre le formulaire
                document.getElementById('filterOption').addEventListener('change', function() {
                    this.form.submit();
                });
            </script>
        {% for professeur in professeurs %}
            <tr>
                <td>{{ professeur.id }}</td>
                <td>{{ professeur.nom }}</td>
                <td>{{ professeur.prenom }}</td>
                <td>{{ professeur.numTel }}</td>
                <td>{{ professeur.adresse }}</td>
                <td>{{ professeur.ecole.nom }}</td> {# Accès au nom de l'école associée #}

                <td>
                    <a href="{{ path('app_professeur_show', {'id': professeur.id}) }}"  class="btn btn-primary btn-sm">show</a>
                    <a href="{{ path('app_professeur_edit', {'id': professeur.id}) }}" class="btn btn-danger btn-sm delete-button">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="text-center">
    <a href="{{ path('app_professeur_new') }}" class="btn btn-primary">Create new</a>
</div>
</div>
</div>
{% endblock %}
