<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
    <title>Insight - Create Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Free HTML Templates">
    <meta name="description" content="Free HTML Templates">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/main.min.css" rel="stylesheet">

    <style>
        .container {
            padding-top: 20px;
        }

        .topbar {
            padding: 10px 0;
            background-color: #120f2d;
            color: white;
        }

        .topbar .row {
            display: flex;
            justify-content: space-between;
        }

        .topbar .col-lg-6 {
            display: flex;
            align-items: center;
        }

        .topbar .col-lg-6:last-child {
            justify-content: flex-end;
        }

        .navbar-brand {
            font-weight: bold;
            font-size: 1.5rem;
        }

        .search-form {
            margin-bottom: 20px;
        }

        .card {
            height: 100%;
        }

        .card-title {
            margin-bottom: 20px;
        }

        .btn-container {
            display: flex;
            justify-content: center;
        }

        .btn-container button {
            margin: 0 10px;
        }

        .favorite-icon {
            color: #ccc; 
            cursor: pointer;
        }

        .favorited {
            color: gold; 
        }

       
        .mt-3 {
            margin-top: 1.5rem; 
        }

        .mb-3 {
            margin-bottom: 1.5rem;
        }

        .px-3 {
            padding-left: 1.5rem; 
            padding-right: 1.5rem;
        }

        .py-2 {
            padding-top: 1rem;
            padding-bottom: 1rem; 
        }

        #calendar-holder {
            display: none;
        }
    </style>
</head>
<body>

<div class="topbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-left">
                <i class="fa fa-phone-alt mr-2"></i><span>+012 345 6789</span>
                <span class="px-3">|</span>
                <i class="fa fa-envelope mr-2"></i><span>info@example.com</span>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <a class="text-white px-2" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="text-white px-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="text-white px-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="text-white px-2" href="#"><i class="fab fa-instagram"></i></a>
                <a class="text-white pl-2" href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Insight</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Gérer Examens</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Gérer Témoignages</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Gérer les Utilisateurs</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mb-3">
            <form class="search-form" action="{{ path('app_Exam_Home') }}" method="GET">
                <div class="input-group">
                    <input class="form-control" type="search" name="search" placeholder="rechercher par Matiere...">
                    <button class="btn btn-primary" type="submit">Rechercher</button>
                </div>
            </form>
        </div>
        <div class="col-lg-6 text-lg-right mb-3">
            <i id="toggle-favorite-tests-icon" class="fa fa-th-list mt-3 mr-2" style="font-size: 24px; cursor: pointer;"></i>
           
        </div>
    </div>

    <div class="mt-3" id="favorite-tests-section" style="display: none;">
        <h2>Favorite Tests</h2>
        <div id="favorite-tests"></div>
    </div>

    

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for test in tests %}
        <div class="col">
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-between">
                    <h5 class="card-title">{{ test.Matiere }}</h5>
                    <div class="btn-container">
                        <a href="/passerQuiz" class="btn btn-primary">Passer Quiz</a>
                        <a href="{{ path('test_pass', {'id': test.test_id}) }}" class="btn btn-success">Passer Test</a>
                        <i class="fas fa-star favorite-icon" data-id="{{ test.test_id }}"></i>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="container mt-3 d-flex justify-content-center">
        <div class="g-recaptcha" data-sitekey="{{ '6Ld9ScspAAAAAH9r4ROQFYhtu2h4ERd3eOQgL0L-' }}"></div>
    </div>

    <div id="custom-alert" class="custom-alert"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-Ll2NUY3O8rQoGf1ho7c4kVP9J0CZJc0Tf2A+nzpuSLGuvHDJhI7xkHS1MZXf/IfC" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-WfX2TpDk4wvnWW/9W6ay6qeu8sMGh2fiKxxJ67D6+OPlrV/VU1mtX4A5JFxjyra6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/main.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const favoriteIcons = document.querySelectorAll('.favorite-icon');
        const favoriteTestsSection = document.getElementById('favorite-tests-section');
        const toggleFavoriteIcon = document.getElementById('toggle-favorite-tests-icon');
        const toggleCalendarIcon = document.getElementById('toggle-calendar-icon');
        const calendarHolder = document.getElementById('calendar-holder');

        let favorites = JSON.parse(localStorage.getItem('favorites')) || [];

        favoriteIcons.forEach(icon => {
            const testId = icon.getAttribute('data-id');
            if (favorites.includes(testId)) {
                icon.classList.add('favorited');
            }
        });

        favoriteIcons.forEach(icon => {
            icon.addEventListener('click', function () {
                const testId = this.getAttribute('data-id');
                this.classList.toggle('favorited');
                const index = favorites.indexOf(testId);
                if (this.classList.contains('favorited')) {
                    if (index === -1) {
                        favorites.push(testId);
                    }
                    showCustomAlert(`Test ${testId} added to favorites.`, 'success');
                } else {
                    if (index !== -1) {
                        favorites.splice(index, 1);
                    }
                    showCustomAlert(`Test ${testId} removed from favorites.`, 'danger');
                }
                localStorage.setItem('favorites', JSON.stringify(favorites));

                updateFavoriteTests();
            });
        });

        function showCustomAlert(message, type) {
            const alertContainer = document.getElementById('custom-alert');
            alertContainer.innerHTML = `<div class="alert alert-${type}" role="alert">${message}</div>`;
            setTimeout(() => {
                alertContainer.innerHTML = '';
            }, 3000); 
        }

        function updateFavoriteTests() {
            const favoriteTestsContainer = document.getElementById('favorite-tests');
            if (favorites.length === 0) {
                favoriteTestsContainer.innerHTML = '<p>No favorite tests yet.</p>';
            } else {
                favoriteTestsContainer.innerHTML = '<ul>';
                favorites.forEach(testId => {
                    favoriteTestsContainer.innerHTML += `<li>Test ID: ${testId}</li>`;
                });
                favoriteTestsContainer.innerHTML += '</ul>';
            }
        }

        toggleFavoriteIcon.addEventListener('click', function () {
            if (favoriteTestsSection.style.display === 'none') {
                favoriteTestsSection.style.display = 'block';
            } else {
                favoriteTestsSection.style.display = 'none';
            }
        });

        

        updateFavoriteTests();
    });
</script>

</body>
</html>
