{% extends 'back.html.twig' %}

{% block title %}Tests index{% endblock %}

{% block body %}
    {{ parent() }} 
    <h1>Tests index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Test id</th>
                <th>Duree</th>
                <th>Note</th>
                <th>Matiere</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr>
                <td>{{ test.test_Id }}</td>
                <td>{{ test.duree }}</td>
                <td>{{ test.note }}</td>
                <td>{{ test.matiere }}</td>
                <td>
                    <a href="{{ path('app_tests_show', {'test_id': test.test_id}) }}" class="btn btn-primary">Show</a>
                    <a href="{{ path('app_tests_edit', {'test_id': test.test_id}) }}" class="btn btn-secondary">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tests_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
