{% extends 'back.html.twig' %}

{% block title %}Tests index{% endblock %}

{% block body %}
    {{ parent() }} 
    <h1>Tests index</h1>
<form method="GET" action="{{ path('app_tests_index') }}">
    <select id="filterOption" name="sortBy">
        <option value="name" {% if app.request.query.get('sortBy') == 'duree' %}selected{% endif %}>Duree</option>
        <option value="id" {% if app.request.query.get('sortBy') == 'id' %}selected{% endif %}>ID</option>
        <option value="note" {% if app.request.query.get('sortBy') == 'note' %}selected{% endif %}>Note</option>

        <!-- Add more options if needed -->
    </select>
</form>
<script>
    // Submit the form when the option is changed
    document.getElementById('filterOption').addEventListener('change', function() {
        this.form.submit();
    });
</script>

    <table class="table">
        <thead>
            <tr>
                <th>Test id</th>
                <th>Duree</th>
                <th>Note</th>
                <th>Matiere</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr>
                <td>{{ test.test_Id }}</td>
                <td>{{ test.duree }}</td>
                <td>{{ test.note }}</td>
                <td>{{ test.matiere }}</td>
                <td>
                    <a href="{{ path('app_tests_show', {'test_id': test.test_id}) }}" class="btn btn-primary">Show</a>
                    <a href="{{ path('app_tests_edit', {'test_id': test.test_id}) }}" class="btn btn-secondary">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tests_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
