{% extends 'default.html.twig' %}
{% block styles %}
    <style>
        button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            background-color: #007bff;
            border: 2px solid #007bff;
            border-radius: 6px;
            color: white;
            transition: background-color 0.3s, color 0.3s, border-color 0.3s;
        }

        button:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
        
        button:active {
            background-color: #004080;
            border-color: #004080;
        }
    </style>
{% endblock %}
{% block title %}Tests index{% endblock %}

{% block body %}
    <h1>Tests index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Test id</th>
                <th>Duree</th>
                <th>Note</th>
                <th>Matiere</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr>
                <td>{{ test.test_Id }}</td>
                <td>{{ test.duree }}</td>
                <td>{{ test.note }}</td>
                <td>{{ test.matiere }}</td>
                <td>
                  <a href="{{ path('app_tests_show', {'test_id': test.test_id}) }}" class="btn btn-primary">Show</a>
                    <a href="{{ path('app_tests_edit', {'test_id': test.test_id}) }}" class="btn btn-secondary">Edit</a>


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  <a href="{{ path('app_tests_new') }}" class="btn btn-primary">Create new</a>

{% endblock %}
